*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}


.header {
  background-color: #EF6039;
  padding-top: 17px;
  padding-bottom: 16px;
}

.header .container {
  display: flex;
  align-items: center;

}

.logo {
  margin-right: auto;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 60px
}

.main-menu a {
  color: #fff;
  text-decoration: none;
}

.header .button {
  margin-left: 60px
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #EF6039;
  background-color: #fff;
  padding: 14px 34px;
  text-decoration: none;
  border-radius: 24px;
}

.banner {
  padding-top: 202px;
  padding-bottom: 200px;
  color: #fff;
  position: relative;
}

.banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__content {
  position: relative;
}

.banner__content h1 {
  font-weight: 300;
  font-style: normal;
  line-height: 80px;
  color: #fff;
  font-size: 72px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.banner__button {
  font-size: 20px;
  font-weight: 400;
  padding-top: 29px;
  line-height: 32px;

}

.banner__content a {
  background: #EF6039;
  border-radius: 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: #fff;
  padding: 14px 36px;
  margin-top: auto;

}

.footer {
  background-color: #333;
  color: #fff;
  padding-top: 160px;
  padding-bottom: 160px;
}

.footer-title {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6039;
  margin-bottom: 30px;
}

.footer-menu li {
  margin-bottom: 8px;
}

.footer-menu a {
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
}

.footer-menu img {
  background-color: #EF6039;
  border: 15px solid #EF6039;
  border-radius: 50%;
}

.copyright {
  text-align: center;
  border-top: 1px solid #363636;
  padding-top: 40px;
  margin-top: 40px;
}

.banner__arc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

}


.banner__arc h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 15px;
}

.fullimage {
  padding-top: 160px;
}

.about {
  display: flexbox;
}

.about h1 {
  padding-left: 134px;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #333333;
  padding-bottom: 30px;
  font-weight: 300;
  
}

.about--first_text {
  padding-bottom: 30px;
  padding-left: 134px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.about--second_text {
  padding-left: 134px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.5);
}

.about a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  background: #EF6039;
  border-radius: 24px;
  padding: 14px 36px;
  gap: 10px;
  text-decoration: none;
}

.about--button {
  padding-left: 134px;
  padding-top: 30px;
}

.icon {
  padding-top: 383px;
  padding-left: 134px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  position: relative;
  padding-bottom: 30px;

}



.about h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6039;
}

.icon--team {
  margin-top: 165px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 31px;
  
}

.team--text {
  margin-left: 16px;
  color: #EF6039;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.teams--text {
  font-size: 56px;
  line-height: 64px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -2px;
  color: #333333;
}

.photo--grid {
  display: flex;
  gap: 24px;
}

.photo--text {
  display: inline-flex;
  gap: 375px;
  font-size: 16px;
  line-height: 32px;
  color: #4F4F4F;
  margin-top: 22px;
}

.photo--text1 {
  display: inline-flex;
  gap: 375px;
  font-size: 24px;
  line-height: 32px;
  color: #4F4F4F;
  margin-bottom: 12px;
}


.button--content {
  font-size: 20px;
  font-weight: 400;
  padding-top: 29px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 172px;
}

.team--button {
  border: 1px solid #EF6039;
  border-radius: 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  padding: 14px 36px;
  margin-top: auto;
  color: #EF6039;
}

.news {
  background-color: #333;
  width: 100%;
}

.news--content {
  display: inline-flex;
  align-items: center;
}

.news--text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6039;
}

.news--text1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #FFFFFF;
}

.news-image-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
  display: inline-flex;
  gap: 354px;
  margin-top: 22px;
  padding-bottom: 12px;
}

.news-image-text1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: inline-flex;
  margin-bottom: 36px;

}

.buttonnews--content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 295px;
}

.buttonnews--content a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;  
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 24px;
  padding: 14px 36px;
}

.btn {
 margin-bottom: 159px;
}

.cta {
  display: flex;
  background: #EF6039;

}

.cta img {
  width: 50%;
}

.second--half {

}

.second--half h1 {

  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #FFFFFF;
  text-align: justify;
  margin-top: 187px;
  margin-left: 122px;
  margin-bottom: 36px;
}

.cta--btn {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;  
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 24px;
  padding: 14px 36px;

}

.btn--cta {
  padding-left: 122px;
  padding-top: 36px;
}

.news--topcontent {
  display: inline-flex;
  padding-top: 160px;
  padding-bottom: 30px;
  align-items: center;
  gap: 16px;
}

